:root{
  --clr-primary: #0e0c0c;
  --clr-secondary: #392e46;
  --clr-tertiary: #555555;
  --bg-primary: #f0f0efee;
  --bg-secondary: #dfd7d7;
  --bg-tertiary: #221e1e;
}

@media(prefers-color-scheme: dark){
  :root {
    --clr-primary: #faf9efe5;
    --bg-primary: #131313;
    --bg-secondary: #110f0f;
    --bg-tertiary: #0e0816;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
}

html{
  overflow: hidden;
}

a, h1, h2, h3{
  border-bottom: .5px solid var(--clr-tertiary);
}

a{
  text-decoration: none;
  color: var(--clr-primary);
}

body{
  color: var(--clr-primary);
  background: var(--bg-primary);
}

@media(prefers-color-scheme: dark){
  html{
    color-scheme: dark;
  }
}
