:root{
  --text: #0e0c0c;
  --bg: #f0f0efee;
}

@media(prefers-color-scheme: dark){
  :root {
    --text: #faf9efe5;
    --bg: #131313;
  }
}

*{
  box-sizing: border-box;
  margin: 0;
}

html{
  overflow: hidden;
}

a, h1, h2, h3{
  border-bottom: 1px solid #262626;
}

body{
  color: var(--text);
  background: var(--bg);
}

@media(prefers-color-scheme: dark){
  html{
    color-scheme: dark;
  }
}
